<!-- <div class="container">
    <h2 class="text-success text-center">All Enquiries</h2>
    <div class="section">
        <div class="card-wrap" *ngFor="let enquiry of enquiries">
            <a routerLink="/product-detail/{{product.id}}" class="card" style="width: 18rem;">
                <img src="{{enquiries.product_name}}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{enquiries.product_name}}</h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary"></a> -->
                <!-- </div>
              </a>
        </div>
    </div>
</div>  -->